body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(./7726705.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#nav-bar{
    display: none;
    justify-content: space-around;
    background-color: white;
    background-color: rgba(250, 250, 250, 0.75);
    margin-top:0;
    padding:2rem;
    gap: 1rem;
    color: #763A85;
}
a{
    text-decoration: none;
}
#loader {
    display: none;
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;
    margin: 20% 0% 0% 10%;
    align-self:center;
    border-top: 1rem solid #B978C8;
    border-bottom: 1rem solid #7BB7F5;
    border-left: 1rem solid #D6973B;
    border-right: 1rem solid #F4617E;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
.scroll-container{
    position:sticky;
    top: 0rem;
}
@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-behavior: smooth;
    padding: 5% 10% 5% 10%;
    gap: 4rem;
}

[id="men's clothing"] {
    order: -2;
    padding: 5%;
    background: linear-gradient(.25turn, white, 90%, #7BB7F5);
    border-radius: 8rem;
}

[id="MEN'S CLOTHING"] {
    order: -3;
}

[id="WOMEN'S CLOTHING"] {
    order: -1;
}

[id="women's clothing"] {
    order: 0;
    padding: 5%;
    background: linear-gradient(.25turn, white, 90%, #B978C8);
    border-radius: 8rem;
}

a [id="JEWELERY"] {
    order: 1;
}

[id="jewelery"] {
    order: 2;
    padding: 5%;
    background: linear-gradient(.25turn, white, 90%, #D6973B);
    border-radius: 8rem;
}

[id="ELECTRONICS"] {
    order: 3;
}

[id="electronics"] {
    order: 4;
    padding: 5%;
    background: linear-gradient(.25turn, white, 90%, #F4617E);
    border-radius: 8rem;
}

#rating {
    display: flex;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    border: 2rem solid;
    font-size: 90%;
    padding: 3rem 10rem 3rem 10rem;
    box-shadow: 0.5rem 1rem 6rem 1rem;
    letter-spacing: 0.5rem;
    border-radius: 10rem;
    margin-top: 6rem;
    background-color: rgb(247, 125, 125);
}

.productCard {
    display: flex;
    box-shadow: 0.5rem 1rem 6rem 1rem;
    /* justify-content: center; */
    gap: 5%;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#image {
    width: 20vh;
    align-self: space-around;
}

#imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#description {
    display: flex;
}

p {
    flex-basis: 70%;
}



.container-login {
    display: flex;
    flex-direction: column;
    justify-content:center;
}

#dataForm {
    display: flex;
    flex-direction: column;
    border: 2px solid;
    padding: 5%;
    border-radius: 10px;
    background-color: rgb(247, 125, 125);
}

#signupHead {
    display: flex;
    justify-content: center;
    margin: 0;
    letter-spacing: 0.5rem;
    color: black;
}

#signup {
    display: flex;
    flex-direction: column;
    /* font-size: 120%; */
}

.error {
    font-size: 75%;
    color: red;
}

.fetchErr {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-login {
    display: flex;
    align-items: center;
    color: white;
    padding-top: 4rem;
    padding: 3.5rem;
}

#submitB {
    color: white;
    background-color: rgb(247, 125, 125);
    border-radius: 10px;
    letter-spacing: 0.5rem;
    border: 2px solid white;
}

@media (orientation: landscape) {
    body {
        margin: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-image: url(./7726705.jpg);
        background-repeat: repeat-y;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
    }
    #loader {
        display: none;
        transform: translate(-50%, -50%);
        width: 1rem;
        height: 1rem;
        margin: 20% 0% 0% 10%;
        align-self:center;
        border-top: 1rem solid #B978C8;
        border-bottom: 1rem solid #7BB7F5;
        border-left: 1rem solid #D6973B;
        border-right: 1rem solid #F4617E;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
    
    @keyframes spin {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }
    
        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }
    #container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4rem;
        padding: 2rem;
    }

    [id="men's clothing"] {
        order: -2;
        padding: 5%;
        background: linear-gradient(.25turn, white, 90%, #7BB7F5);
        border-radius: 3rem;
    }

    [id="MEN'S CLOTHING"] {
        order: -3;
    }

    [id="WOMEN'S CLOTHING"] {
        order: -1;
    }

    [id="women's clothing"] {
        order: 0;
        padding: 5%;
        background: linear-gradient(.25turn, white, 90%, #B978C8);
        border-radius: 3rem;
    }

    a [id="JEWELERY"] {
        order: 1;
    }

    [id="jewelery"] {
        order: 2;
        padding: 5%;
        background: linear-gradient(.25turn, white, 90%, #D6973B);
        border-radius: 3rem;
    }

    [id="ELECTRONICS"] {
        order: 3;
    }

    [id="electronics"] {
        order: 4;
        padding: 5%;
        background: linear-gradient(.25turn, white, 90%, #F4617E);
        border-radius: 3rem;
    }

    #rating {
        display: flex;
    }

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: whitesmoke;
        border: 1rem solid;
        padding: 1.5rem 5rem 1.5rem 5rem;
        box-shadow: 0.5rem 1rem 6rem 1rem;
        border-radius: 10rem;
        letter-spacing: 1rem;
        background-color: rgb(247, 125, 125);
    }

    .productCard {
        display: flex;
        box-shadow: 0.5rem 1rem 6rem 1rem;
        gap: 5%;
    }

    .details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #image {
        width: 20vh;
        /* height: 30vh; */
        align-self: space-around;
    }

    #imgContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #description {
        display: flex;
    }

    p {
        flex-basis: 70%;
    }



    .container-login {
        display: flex;
        flex-direction: column;
    }

    #dataForm {
        display: flex;
        flex-direction: column;
        border: 2px solid;
        padding: 5%;
        border-radius: 10px;
        background-color: rgb(247, 125, 125);
    }

    #signupHead {
        display: flex;
        justify-content: center;
        margin: 0;
        color: black;
        letter-spacing: 1rem;
    }

    #signup {
        display: flex;
        flex-direction: column;
    }

    .container-login {
        display: flex;
        align-items: center;
        color: white;
        padding-top: 4rem;
        padding: 3.5rem;
    }

    #submitB {
        color: white;
        background-color: rgb(247, 125, 125);
        border-radius: 10px;
        letter-spacing: 0.5rem;
        border: 2px solid white;
    }
}

@media (max-width:700px) {
    body {
        margin: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-image: url(./7726705.jpg);
        background-repeat: repeat-y;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
    }
    #loader {
        display: none;
        transform: translate(-50%, -50%);
        width: 1rem;
        height: 1rem;
        margin: 20% 0% 0% 10%;
        align-self:center;
        border-top: 1rem solid #B978C8;
        border-bottom: 1rem solid #7BB7F5;
        border-left: 1rem solid #D6973B;
        border-right: 1rem solid #F4617E;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
    
    @keyframes spin {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }
    
        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }
    #container {
        display: flex;
        flex-direction: column;
        /* padding: 5% 10% 5% 10%; */
        justify-content: center;
        padding: 5%;
        gap: 2rem;
    }

    [id="men's clothing"] {
        order: -2;
        padding: 5%;
        background: linear-gradient(.5turn, white, 85%, #7BB7F5);
        border-radius: 3rem;
    }

    [id="MEN'S CLOTHING"] {
        order: -3;
    }

    [id="WOMEN'S CLOTHING"] {
        order: -1;
        font-size: 70%;
    }

    [id="women's clothing"] {
        order: 0;
        padding: 5%;
        font-size: 100%;
        background: linear-gradient(.5turn, white, 85%, #B978C8);
        border-radius: 3rem;
    }

    a [id="JEWELERY"] {
        order: 1;
        font-size: 70%;
    }

    [id="jewelery"] {
        order: 2;
        padding: 5%;
        background: linear-gradient(.5turn, white, 85%, #D6973B);
        border-radius: 3rem;
    }

    [id="ELECTRONICS"] {
        order: 3;
        font-size: 70%;
    }

    [id="electronics"] {
        order: 4;
        padding: 5%;
        background: linear-gradient(.5turn, white, 85%, #F4617E);
        border-radius: 3rem;
    }

    #rating {
        display: flex;
    }

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: whitesmoke;
        border: 0.5rem solid;
        font-size: 90%;
        padding: 0.1rem 0.5rem 0.1rem 0.5rem;
        box-shadow: 0.5rem 1rem 6rem 1rem;
        border-radius: 10rem;
        letter-spacing: 0.5rem;
        background-color: rgb(247, 125, 125);
    }

    .productCard {
        display: flex;
        flex-direction: column;
        box-shadow: 0.5rem 1rem 6rem 1rem;
    }

    .details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #image {
        /* width: 20vh; */
        height: 30vh;
        align-self: space-around;
    }

    #imgContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #description {
        display: flex;
    }

    p {
        flex-basis: 70%;
    }



    .container-login {
        display: flex;
        flex-direction: column;
        padding: 0;
        padding-top: 4rem;
    }

    #dataForm {
        display: flex;
        flex-direction: column;
        border: 2px solid;
        padding: 5%;
        border-radius: 10px;
        background-color: rgb(247, 125, 125);
    }

    #signupHead {
        display: flex;
        justify-content: center;
        margin: 0;
        color: black;
        letter-spacing: 1rem;
    }

    #signup {
        display: flex;
        flex-direction: column;
    }

    .container-login {
        display: flex;
        align-items: center;
        color: white;
        padding-top: 4rem;
        padding: 3.5rem;
    }

    #submitB {
        color: white;
        background-color: rgb(247, 125, 125);
        border-radius: 10px;
        letter-spacing: 0.5rem;
        border: 2px solid white;
    }
}

@media (max-width:400px) {
    body {
        margin: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-image: url(./7726705.jpg);
        background-repeat: repeat-y;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
    }
    #loader {
        display: none;
        transform: translate(-50%, -50%);
        width: 1rem;
        height: 1rem;
        margin: 20% 0% 0% 10%;
        align-self:center;
        border-top: 1rem solid #B978C8;
        border-bottom: 1rem solid #7BB7F5;
        border-left: 1rem solid #D6973B;
        border-right: 1rem solid #F4617E;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
    
    @keyframes spin {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }
    
        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }
    #container {
        display: flex;
        flex-direction: column;
        /* padding: 5% 10% 5% 10%; */
        padding: 5%;
        gap: 2rem;
    }

    [id="men's clothing"] {
        order: -2;
        padding: 5%;
        background: linear-gradient(.5turn, white, 85%, #7BB7F5);
        border-radius: 3rem;
        font-size: 50%;
    }

    [id="MEN'S CLOTHING"] {
        order: -3;
        font-size: 70%;
    }

    [id="WOMEN'S CLOTHING"] {
        order: -1;
        font-size: 70%;
    }

    [id="women's clothing"] {
        order: 0;
        padding: 5%;
        font-size: 100%;
        background: linear-gradient(.5turn, white, 85%, #B978C8);
        border-radius: 3rem;
    }

    a [id="JEWELERY"] {
        order: 1;
        font-size: 70%;
    }

    [id="jewelery"] {
        order: 2;
        padding: 5%;
        background: linear-gradient(.5turn, white, 85%, #D6973B);
        border-radius: 3rem;
    }

    [id="ELECTRONICS"] {
        order: 3;
        font-size: 70%;
    }

    [id="electronics"] {
        order: 4;
        padding: 5%;
        background: linear-gradient(.5turn, white, 85%, #F4617E);
        border-radius: 3rem;
    }

    #rating {
        display: flex;
    }

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: whitesmoke;
        border: 0.5rem solid;
        font-size: 90%;
        padding: 0.1rem 0.5rem 0.1rem 0.5rem;
        box-shadow: 0.5rem 1rem 6rem 1rem;
        border-radius: 10rem;
        letter-spacing: 0.5rem;
        background-color: rgb(247, 125, 125);
    }

    .productCard {
        display: flex;
        flex-direction: column;
        box-shadow: 0.5rem 1rem 6rem 1rem;
    }

    .details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #image {
        /* width: 20vh; */
        height: 30vh;
        align-self: space-around;
    }

    #imgContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #description {
        display: flex;
    }

    p {
        flex-basis: 70%;
    }



    /* .container-login {
        display: flex;
        flex-direction: column;
        padding-top: 4rem;
        color: white;
    } */

    #dataForm {
        display: flex;
        flex-direction: column;
        border: 2px solid;
        padding: 5%;
        border-radius: 10px;
        background-color: rgb(247, 125, 125);
    }

    #signupHead {
        display: flex;
        justify-content: center;
        margin: 0;
        color: black;
        letter-spacing: 1rem;
    }

    #signup {
        display: flex;
        flex-direction: column;
    }

    .container-login {
        display: flex;
        align-items: center;
        color: white;
        padding-top: 4rem;
        padding: 3.5rem;
    }

    #submitB {
        color: white;
        background-color: rgb(247, 125, 125);
        border-radius: 10px;
        letter-spacing: 0.5rem;
        border: 2px solid white;
    }
}